@import "../../../../../scss/variables";
.categories {
  margin-top: 13px;
  ul {
    display: flex;
    overflow-y: hidden;
    li {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      padding: 8px 12px 6px 12px;
      color: $text-tertiary;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        color: $text-secondary;
      }
    }
    .active {
      color: $text-primary;
      font-weight: 600;
      border-bottom: 2px solid $content-active-primary;
    }
  }
}
